// adjust login button in header
#login-buttons-image-fitbit {
  background-image: url(/images/fitbit-logo.png);
}

.nav #login-buttons .login-image {
  top: 4px;
}

.jumbotron #login-buttons .login-image {
  top: 8px;
}

#login-buttons {
  margin-top: 5px;
}

// rotate sync button
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.disabled #sync {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

// adjust tag input
div.form-inline div.form-group {
  width: 84%;
}