<template name="add">
  <div id="add" class="well">
    <div class="row">
      <div class="col-md-6">
        <h3>{{date}}</h3>
      </div>
      {{#with day}}
      {{#if activities.summary.steps}}
      <div class="col-xs-6 col-md-3">
        <h3>{{ activities.summary.steps }} steps</h3>
      </div>
      {{/if}}
      {{#if sleep.summary.totalMinutesAsleep}}
      <div class="col-xs-6 col-md-3">
        <h3>{{ asleepTime }} asleep</h3>
      </div>
      {{/if}}
      {{/with}}
    </div>
    <div class="row tags">
      <div class="col-xs-12 col-sm-6">
        {{#each tags}}
        <button class="btn btn-lg btn-tag btn-{{#if selected}}primary{{else}}default{{/if}}">
          {{tag}}
        </button>
        {{/each}}
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="input-group" id="tag-group">
          <input type="text" id="tags" class="form-control">
          <div class="input-group-btn">
            <button class="save btn btn-link btn-add">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>
