<template name="advice">
  <div id="advice_wrapper">
    <ul class="nav nav-tabs">
      <li class="{{ active "tag" }}"><a href="/advice/by_tag">Tags</a></li>
      <li class="{{ active "bed_time" }}"><a href="/advice/by_bed_time">Bed Time</a></li>
      <li class="{{ active "time_asleep" }}"><a href="/advice/by_time_asleep">Time Asleep</a></li>
      <li class="{{ active "steps" }}"><a href="/advice/by_steps">Steps</a></li>
      <li class="{{ active "date" }}"><a href="/advice/by_date">Date</a></li>
    </ul>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>{{ title }}</h4>
      </div>
      <div class="panel-body">
        <svg id="advice">
        </svg>
      </div>
  </div>
</template>
