<head>
  <title>SleepTagging</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>
{{>nav}}
{{>feedback}}
<div class="container">
  <div>
    {{ renderRouter }}
  </div>
  {{>footer}}
</div>
</body>
