<template name="day">
  <tr>
    <td>{{ date }}</td>
    <td>{{ steps }}</td>
    <td>{{ startTime }}</td>
    <td>{{ asleepTime }}</td>
    <td>{{ asleepPercentage }}</td>
    <td class="col-md-3">{{> tags}}</td>
  </tr>
</template>
