<template name="feedback">
  <div id="feedback">
    <a target="_new" href="https://github.com/paulswartz/sleeptagging/issues/new">
      <h4>
        <span class="label label-danger">
          Feedback?
        </span>
      </h4>
    </a>
  </div>
</template>
