<template name="footer">
  <footer>
    <p>
      Buit by <a href="http://paulswartz.net">Paul Swartz</a>: <a href="http://www.twitter.com/paulswartz">@paulswartz</a>.
      <h6>Fitbit is a registered trademark and service mark of Fitbit, Inc. SleepTagging is designed for use with the Fitbit platform. This product is not put out by Fitbit, and Fitbit does not service or warrant the functionality of this product.</h6>
    </p>
  </footer>
</template>

