<template name="jumbotron">
  {{#if loggingIn}}
  <p>Logging in...</p>
  {{else}}
  <div class="jumbotron">
    <h1>Better sleep through data</h1>
    <p><a href="http://fitbit.com">FitBit</a> does a great job tracking your sleep.  But shouldn't it help you get a <em>better</em> night's sleep?</p>
    <p>SleepTagging takes the data from your activity tracker, and, with the help of some simple tags, helps you figure out how you sleep best.</p>
    <p>Want to try?  Just {{ loginButtons }} to get started!</p>
  </div>
  {{/if}}
</template>
