<template name="nav">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target="#nav-buttons">
        <span class="sr-only">Toggle navigation"</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">SleepTagging</a>
    </div>
    <div class="collapse navbar-collapse" id="nav-buttons">
      <div class="navbar-header">
        {{#if currentUser}}
        <ul class="nav navbar-nav text-center">
          <li class="{{active "add" }}" >
            <a href="{{ pathFor "add" }}">Tags</a>
          </li>
          <li class="{{active "advice" }}">
            <a href="/advice/by_tag">Advice</a>
          </li>
          <li class="{{active "history" }}">
            <a href="/history">History</a>
          </li>
        </ul>
        {{/if}}
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li class="hidden-xs">
            {{> syncing }}
          </li>
          <li>
            <div class="navbar-form text-center">
              {{ loginButtons }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
