<template name="syncing">
  {{#if currentUser}}
  <a href="#" class="btn {{#if syncing}}disabled{{/if}}">
    <span id="sync_status">{{#if syncing}}Syncing...{{/if}}</span>
    <span id="sync" class="glyphicon glyphicon-refresh"></span>
  </a>
  {{/if}}
</template>
