<template name="table">
  <table class="table table-striped">
    <tr>
      <th>Day</th>
      <th>Previous Day's Steps</th>
      <th>Bed Time</th>
      <th>Time Asleep</th>
      <th>% asleep</th>
      <th>Tags</th>
    </tr>
    {{#each days }}
    {{> day }}
    {{/each }}
  </table>
</template>
