<template name="tags">
  <div class="form-inline">
    {{#if editing}}
    <div class="input-group">
      <input type="text" id="tags_{{ date }}" class="form-control" value="{{ tagString }}">
      <div class="input-group-btn">
        <button class="save btn btn-link pull-right"><span class="glyphicon glyphicon-ok"></span></button>
      </div>
    </div>
    {{else}}
    {{#each tags}}
    <span class="label label-info">{{ . }}</span>
    {{/each}}
    <button class="add btn btn-link pull-right"><span class="glyphicon glyphicon-pencil"></span></button>
    {{/if}}
  </div>
</template>
